<p>beneficio works!</p>
<div class="card">
  <p-steps #stepper [model]="items"></p-steps>
</div>
<app-beneficiario *ngIf="activeIndex === 0"></app-beneficiario>
<app-identificacao *ngIf="activeIndex === 1"></app-identificacao>
<app-vida-funcional *ngIf="activeIndex === 2"></app-vida-funcional>
<app-contagem-tempo *ngIf="activeIndex === 3"></app-contagem-tempo>
<app-remuneracao-proventos *ngIf="activeIndex === 4"></app-remuneracao-proventos>
<button pButton 
  type="button" 
  label="Voltar"
  (click)="goPrev()"></button>
<button pButton 
  type="button" 
  label="Avançar"
  (click)="goNext()"></button>