<p>identificacao works!</p>
<p-fileUpload name="files[]" customUpload="true" (uploadHandler)="onUpload($event)"
    multiple="multiple" accept="application/pdf" maxFileSize="1000000">
    <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </ng-template>
</p-fileUpload>