<div class="container">
    <p-panel header="Benefício">
        <div fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px">
            <div fxFlex="25">
                <p-card header="Menu">
                    <p-menu [model]="items"></p-menu>
                </p-card>
            </div>
            <div fxFlex="75">
                <div style="height: 100%;">
                    <p-panel header="Beneficiário">
                        <div fxLayout="row">
                            <div fxFlex="50">
                                
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
        <p-footer>
            <button pButton type="button" label="Tramitar" (click)="tramitar()"></button>
        </p-footer>
    </p-panel>
</div>