body {
    :host {
      width: 100%;
      height: 100%;
      padding: 10px;
      display: block;
      .container {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px;
      }
      .p-menu {
        background: #ffffff;
        color: #666666;
        border: 1px solid #c8c8c8;
        border-radius: 2px;
      }
    }
  }
  