<p>beneficiario works!</p>

<form [formGroup]="formBeneficiario">
    <input type="text" placeholder="Nome" formControlName="nome">
    <input type="text" placeholder="CPF" formControlName="cpf">
    <input type="text" placeholder="Órgão" formControlName="orgao">
    <input type="text" placeholder="Matrícula" formControlName="matricula">
</form>